body {
  margin: 0px 0px 0px 0px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

nav a {
  margin-right: 20px;
}

a.toplink {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

main {
  margin-top: 250px;
  justify-content: center;
}

.logo {
  text-align: center;
}

.searchbar-container {
  text-align: center;
  margin-top: 20px;
}

.searchbar {
  padding: 15px 25px 15px 25px;
  outline: 0;
  width: 500px;
  border-radius: 30px;
  border: 1px solid #e2e2e2;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.buttons {
  background-color: #f3f3f3;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  outline: 0;
  border: 0px solid #e2e2e2;
  border-radius: 3px;
}

.links {
  text-align: center;
  margin-top: 25px;
}

.links a {
  padding-right: 5px;
  padding-left: 5px;
}

footer {
  position: absolute;
  margin-top: 24.8%;
  height: 60px;
  padding: 25px 25px 25px 25px;
  width: 100%;
  background-color: #e2e2e2;
  color: rgba(0, 0, 0, 0.54);
}

.footer-links {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, 0.54);
}



.footer-legal {
  height: 20px;
  width: 50%;
  background-color: red;
  margin-left: 80%;
}
